# dependencies
node_modules/

# env
.env*

# builds
dist/
.next/
out/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local uploads/runtime files
apps/api/uploads/
apps/api/tmp/

